{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $command := .Get 1 }}
{{ $options := .Get 2 }}
{{ $float := .Get 3 }}
{{ $link := .Get 4 }}
{{ $style := .Get 5 }}
{{ if eq $command "Fit"}}
	{{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
	{{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
	{{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else }}
	{{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}

{{ $image := .Scratch.Get "image" }}

{{ if ne $float "" }}
<div style="float: {{ $float }}; {{ $style }}">
{{ end }}

{{ if eq $link "link" }}
<a href="{{ $original.RelPermalink }}">
{{ end }}
<img style="height: auto; padding: 0px; {{ $style }}" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" />

{{ if eq $link "link" }}</a>{{ end }}

{{ if ne $float "" }}</div>{{ end }}

